@font-face {
  font-family: valorant;
  src: url('../fonts/valorant.ttf');
}

.valorant {
  font-family: valorant;
}

.login-btn {
  background-color: #fa4454 !important;
}

.login-btn:hover {
  background-color: #364966 !important;
  color: white !important;
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.jett-bg {
  background: url(../images/login_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.match-bg {
  background: url(../images/match_history_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.circle-progress {
  width: 75px;
  height: auto;
}

@media(min-width: 1024px) {
  .circle-progress {
    width: 100px;
    padding: 0.25rem;
    /* height: auto; */
  }
}

@media(max-width: 640px){
  table, table td, table tr, table th { display: block; text-align: center; } 
  table th, table td { margin: 0; }
  table td  { padding-left: 0; }
  table thead { display: none; }
}

.maps-bg {
  padding: 0px !important;
}

.social-icons a {
  padding-left: .25rem;
  padding-right: .25rem;
}