<!DOCTYPE html>
<html class="jett-bg">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8WZGNCME04"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-8WZGNCME04');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/15d6e01caf.js" crossorigin="anonymous"></script>

</head>

<body>

  <div class="container px-8 mx-auto text-center w-full h-full">
    <div class="flex flex-col items-center justify-center w-full h-full">
      <h1 class="text-5xl mb-4 valorant" style="color: #fa4454;">VALORANT ELO TRACKER</h1>
      <div class="px-8 py-12 w-full lg:w-1/2 xl:w-1/3 mx-auto bg-white text-4xl">
        <h2 class="mb-4">Login Using Your Riot Account</h2>
        <p title="This site does not track any of your data. Feel free to modify or look at the code on GitHub and run it locally."
          class="text-base my-2"><i>This site is not affiliated with Riot Games.</i></p>
        <form action="{{ url_for('display_match_history') }}" method="post" autocomplete="off"
          enctype="application/x-www-form-urlencoded">
          <div class="flex flex-col text-left text-2xl">
            <div class="my-4 flex flex-col">
              <label>Username</label>
              <input class="border py-2 px-3 text-grey-darkest" type="text" name="username">
            </div>
            <div class="my-4 flex flex-col">
              <label>Password</label>
              <input class="border py-2 px-3 text-grey-darkest" type="password" name="password">
            </div>
            <div class="mt-2 mb-6 text-center text-lg">
              <p>Region</p>
              <div class="text-base flex flex-row justify-evenly">
                <div title="North America">
                  <label for="NA">NA</label>
                  <input type="radio" id="NA" name="region" checked="checked" value="NA">
                </div>
                <div title="Europe">
                  <label for="EU">EU</label>
                  <input type="radio" id="EU" name="region" value="EU">
                </div>
                <div title="Asia Pacific">
                  <label for="AP">AP</label>
                  <input type="radio" id="AP" name="region" value="AP">
                </div>
                <div title="Korea">
                  <label for="KO">KO</label>
                  <input type="radio" id="KO" name="region" value="KO">
                </div>
              </div>
            </div>
            <input class="cursor-pointer login-btn" type="submit" value="Login">
          </div>
        </form>
      </div>
      <footer class="pt-8 text-gray-500 text-xl">
        <p>Dylan Theriot © 2020</p>
        <div class="social-icons">
          <a title="GitHub" target="_blank" href="https://github.com/dylantheriot/valorant-match-history">
            <i class="fab fa-github"></i>
          </a>
          <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/dylan-theriot/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a title="Personal Website" target="_blank" href="http://dylantheriot.com/">
            <i class="fas fa-link"></i>
          </a>
          <a title="Email" target="_blank" href="mailto:dylantheriot@tamu.edu">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>


</body>

</html>